[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes
Documentation=man:kube-apiserver
After=network.target
After=etcd.service
Wants=etcd.service

[Service]
EnvironmentFile=-/etc/default/%p
User=kube
ExecStart=/usr/bin/kube-apiserver $DAEMON_ARGS
Restart=on-failure
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
