[Unit]
Description=Kubernetes Scheduler Plugin
Documentation=https://github.com/kubernetes/kubernetes
Documentation=man:kube-scheduler
After=network.target

[Service]
EnvironmentFile=-/etc/default/%p
User=kube
ExecStart=/usr/bin/kube-scheduler $DAEMON_ARGS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
