[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes
Documentation=man:kube-controller-manager
After=network.target

[Service]
EnvironmentFile=-/etc/default/%p
User=kube
ExecStart=/usr/bin/kube-controller-manager $DAEMON_ARGS
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
