[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/kubernetes/kubernetes
Documentation=man:kubelet
After=network.target
After=docker.service
Requires=docker.service
Conflicts=cadvisor.service

[Service]
EnvironmentFile=-/etc/default/%p
WorkingDirectory=/var/lib/kubelet
ExecStart=/usr/bin/kubelet $DAEMON_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=cadvisor.service
